
@{
    ViewBag.Title = "Home";
}

<div class="NewProductList">
    @{
        Html.RenderAction("NewProductList", "ViewSite");
    }
</div>

<br />

<div class="TopSellerProductList">
    @{
        Html.RenderAction("TopSellerProductList", "ViewSite");
    }
</div>

<br />

<div class="ShirtProductList">
    @{
        Html.RenderAction("ShirtProductList", "ViewSite");
    }
</div>

<br />

<div class="PaintProductList">
    @{
        Html.RenderAction("PaintProductList", "ViewSite");
    }
</div>

<br />

<div class="WetFoodList">
    @{
        Html.RenderAction("WetFoodList", "ViewSite");
    }
</div>

<br />

<div class="DryFoodList">
    @{
        Html.RenderAction("DryFoodList", "ViewSite");
    }
</div>

