
@{
    ViewBag.Title = "Cảm ơn";
}


<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Chúng tôi sẽ liên lạc với bạn sớm để hoàn tất về đơn hàng này.</p>
    <hr>
   
    <p class="lead">
        <a href="/" role="button" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua sắm</a>
        <a href="/Sale/OrderList" role="button" class="btn btn-info btn-large"><span class="glyphicon glyphicon-eye-open"></span> Xem danh sách đơn hàng</a>
    </p>
</div>