.modify {
    /*margin-bottom: 20px;*/
    width:200px;
}

.inputcheckbox {
    width:15px;
    height: 15px;
    float:right;
    margin-right: 1000px;
}

.control-group{
    margin: 10px;
}

.control-label {
    width:200px;
}

.mce-tinymce {
    margin-bottom: 20px;
}
#UploadImages ul {
    background:#e6e6e6;
    width:700px;
    height:230px;   
}

#UploadImages ul li {
    margin-top: 20px;
    margin-left: 20px;
    float:left;
}

#DeleteImage {
    margin-top: 10px;
    margin-left: 40px;
}

table, td, th {    
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 1000px;
}

th, td {
    text-align: left;
    padding: 8px;
}

td span a {
    text-decoration:none; 
    font-size: 20px;
}

td span{
    text-align:center;
}
tr:nth-child(even){background-color: #fbfbfb}

#btnfillter {
    margin-top:23px;
}

.filter {
    float: left;
    width: 200px;
}

.filterID{
    width: 170px;
}

/*.filterInStock {
    width: 100px;
}*/


    .filter select {
        margin-left: 0px;
    }
 
a {
    text-decoration: none;
}

#WholesalePriceDetails{
    width: 170px;
    float:left;
}